.classe1, td, th{

    border: 2px black solid; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
    font-size: 2vw;
    margin-block-end: 5%;

}

.classe2{

    margin: auto;
    margin-block-end: 5%;
    width: 70%;

}